


body {font-size: 20px; line-height: 1.8;
      background-color: #fff; letter-spacing: .04em;
      color: #2d2d2d; font-family: Big Caslon, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; 

     }
@media (max-width: 600px) { body {
				  line-height: 1.7;} }



@media (max-width: 600px) { video {
				  width: 100%;
				  height: auto;} }

@font-face {
    font-family: 'Big Caslon';
    src: url('BigCaslon-Medium.woff2') format('woff2'),
         url('BigCaslon-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

a[href^="http://"]:after, 
a[href^="https://"]:after {
    font-family: 'FontAwesome';
    content: " \f08e";
    vertical-align: super;
    font-size: 12px;
}



::-moz-selection { 
    background: #dfdfdf; }

::selection { 
    background: #dfdfdf;
}

h1, h2, h3, h4, h5 { color: #21252b; }
@media (max-width: 600px) { h2 { font-size: 21px; } }

article {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-width: 200px;
    -moz-column-width: 200px;
    column-width: 200px;
}

a { -webkit-transition: .3s all ease; -o-transition: .3s all ease; transition: .3s all ease; color: #21252b;
    
  }


#blink {
    
    -moz-animation-duration: 400ms;
    -moz-animation-name: blink;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: alternate;
    
    -webkit-animation-duration: 400ms;
    -webkit-animation-name: blink;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    
    animation-duration: 400ms;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@-moz-keyframes blink {
    from {
	opacity: 1;
    }
    
    to {
	opacity: 0;
    }
}

@-webkit-keyframes blink {
    from {
	opacity: 1;
    }
    
    to {
	opacity: 0;
    }
}

@keyframes blink {
    from {
	opacity: 1;
    }
    
    to {
	opacity: 0;
    }
}







a:hover, a:active, a:focus { text-decoration: underline; outline: none; }

.templateux-navbar { position: fixed;  background-image: linear-gradient(0deg,  rgba(255, 255, 255, 0),
									 rgba(255,255,255,1));
		     top: 0; left: 0; width: 100%; padding: 35px 0; z-index: 99999; }

.templateux-navbar .container-fluid { max-width: 100%; }

.templateux-navbar .toggle-menu { z-index: 9999; position: relative; top: -13px; display: none; }

@media (max-width: 767.98px) { .templateux-navbar .toggle-menu { display: block; } }

.templateux-navbar .toggle-menu:active, .templateux-navbar .toggle-menu:focus { outline: none; }

.templateux-navbar .site-logo {  z-index: 9999; }

.templateux-navbar .site-logo a { margin-right: 20px; font-size: 21px; text-decoration: none; text-transform: uppercase; letter-spacing: .2em;
				  color: #000; position: relative; padding-bottom: 5px; display: inline-block; }

.templateux-navbar .templateux-menu { position: relative; }

.templateux-navbar .templateux-menu ul { margin-bottom: 0; }

.templateux-navbar .templateux-menu ul li { display: inline-block; }

.templateux-navbar .templateux-menu ul li a { margin-right: 20px; font-size: 13px; text-transform: uppercase; letter-spacing: .2em;
					      color: #000; position: relative; padding-bottom: 5px; display: block; text-decoration: none;}

.templateux-navbar .templateux-menu ul li a:before { content: ""; position: absolute; bottom: 0; height: 2px; width: 0; left: 0; background: #000; -webkit-transition: .15s width ease; -o-transition: .15s width ease; transition: .15s width ease; }

.templateux-navbar .templateux-menu ul li a:hover:before { width: 100%;  }

.templateux-navbar .templateux-menu ul li.active > a:before { width: 100%; }

.templateux-navbar .templateux-menu ul li:last-child a { margin-right: 0; }

@media (max-width: 767.98px) { .templateux-navbar .templateux-menu { position: fixed; width: 100%; background-color: #fff; top: 0; left: 0; margin: 0; text-align: left; height: 100vh; min-height: 400px; padding: 15px; display: none; padding-top: 150px; overflow-y: scroll; }
			       
			       .templateux-navbar .templateux-menu ul { margin-left: 40px; }
			       .templateux-navbar .templateux-menu ul li { display: block; margin-bottom: 10px; }
			       .templateux-navbar .templateux-menu ul li a { padding: 10px 0 2px 0; font-size: 18px; display: inline-block; } }

@media (max-width: 767.98px) { .templateux-navbar .templateux-menu ul { margin-left: 0px; } }

.templateux-navbar.navbar-light .site-logo a { color: #000; }

.templateux-navbar.navbar-light .hamburger .hamburger-inner, .templateux-navbar.navbar-light .hamburger .hamburger-inner::before, .templateux-navbar.navbar-light .hamburger .hamburger-inner::after { background-color: #000; }

.templateux-navbar.navbar-light .templateux-menu ul li a { color: #000; }

.menu-open .templateux-navbar { position: fixed; left: 0; top: 0; }

@media (max-width: 767.98px)
{ .menu-open .site-logo a { color: #000 !important; } }

.menu-open .navbar-light .hamburger .hamburger-inner, .menu-open .navbar-light .hamburger .hamburger-inner::before, .menu-open .navbar-light .hamburger .hamburger-inner::after { background-color: #000; }

.menu-open .templateux-menu li { opacity: 0; visibility: hidden; margin-left: -10px; position: relative; -webkit-transition: .3s all ease-in-out; -o-transition: .3s all ease-in-out; transition: .3s all ease-in-out; }

.menu-open .templateux-menu li.staggard { opacity: 1; visibility: visible; margin-left: 0px; }

@media (max-width: 767.98px) { .menu-open .templateux-menu li a { color: #000 !important; } }

.templateux-hero { background-size: cover; background-repeat: no-repeat; background-position: center center; position: relative; overflow: hidden; }

.templateux-hero .lead {font-size: 20px; line-height: 1.8;
			background-color: #f3f3f3;
			color: #000; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; 

		       }

@media (max-width: 991.98px) { .templateux-hero .lead { font-size: 21px; } }

.templateux-hero .cover { position: absolute; display: block;
			  width: 1366px; height: 768px; z-index: -1; }

.templateux-hero.overlay:before { content: ""; position: absolute;
				  background: #fff;
				  left: 0; top: 00px; bottom: 0; right: 0; }

.templateux-hero.overlay h1 { color: #000; }

.templateux-hero.overlay .lead { color: #000; line-height: 1.8 }

.intro { height: 100vh; min-height: 700px; }

.about {
    
    margin-top: 250px;
    min-height: 700px;
    width: 50%;

}

@media (max-width: 600px) { .about { width: 95%; padding-left: 20px;

				     margin-top: 200px;
				     font-size: 80%; }}



.about span{
    
    text-transform: uppercase;
    font-size: 13px;

}

.contact {
    margin-top: 250px;
    width: 80%;

}


.stuff {
    margin-top: 250px;
    width: 100%;
}

.stuff h1    {
    letter-spacing: 0.04em;

}

.stuff h6 {
    
    text-transform: uppercase;
    letter-spacing: 0.08em;
    font-size: 18px;
    margin-top: 50px;

}

@media (max-width: 600px) { .contact { width: 90%;  margin-top: 200px; padding-left: 20px;	font-size: 80%;}}



.templateux-hero h1, .intro h1 { color: #000; font-size: 70px; }

@media (max-width: 991.98px) { .templateux-hero h1, .intro h1 { font-size: 36px; } }

.templateux-portfolio-overlap { position: relative; margin-top: -100px; }

@media (max-width: 991.98px) { .templateux-portfolio-overlap { margin-top: -50px; } }

.container-fluid { padding-left: 50px; padding-right: 50px; max-width: 1600px; }

@media (max-width: 767.98px) { .container-fluid { padding-left: 15px; padding-right: 15px; } }

.templateux-section { padding: 7em 0; }

@media (max-width: 991.98px) { .templateux-section { padding: 3em 0; } }

.templateux-section h2 { line-height: 1.5; }

.templateux-cta { padding: 7em 0; display: block; background: #f3f3f3; position: relative; }

.templateux-cta:before { content: ""; position: absolute; height: 0px; bottom: 0;
			 background: #dddddd; width: 100%; left: 0; -webkit-transition: .3s all ease-out; -o-transition: .3s all ease-out; transition: .3s all ease-out; }

.templateux-cta .cta-inner { display: block; text-align: center; }

.templateux-cta span { display: block; position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); -webkit-transition: .3s all ease; -o-transition: .3s all ease; transition: .3s all ease; }

.templateux-cta .words-1 { opacity: 1; visibility: visible; top: 0; }

.templateux-cta .words-2 { opacity: 0; visibility: hidden; top: 40px; }

.templateux-cta h2 { font-weight: normal; margin-bottom: 0; color: #000; position: relative; bottom: 0; -webkit-transition: .4s all ease; -o-transition: .4s all ease; transition: .4s all ease; }

.templateux-cta:hover:before, .templateux-cta:focus:before { height: 100%; }

.templateux-cta:hover .words-1, .templateux-cta:focus .words-1 { opacity: 0; visibility: hidden; top: -40px; }

.templateux-cta:hover .words-2, .templateux-cta:focus .words-2 { opacity: 1; visibility: visible; top: 0px; color: #000; }

.section-heading { font-size: 14px; color: #495057; margin-bottom: 30px; display: block; position: relative; }

.section-heading:after { content: ""; height: 2px; width: 30%; position: absolute; top: 50%; right: 0; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); background: #000; }

.project, .post { position: relative; opacity: 0.95; float: left; width: 100%; margin-bottom: 30px; }

.project figure, .post figure { margin: 0; position: relative; }

.project .project-hover, .project .post-hover, .post .project-hover, .post .post-hover { position: absolute; top: 0; left: 0; right: 0; bottom: -5px; background: rgba(255, 255, 255, 0.95); visibility: hidden; opacity: 0; -webkit-transition: .3s all ease; -o-transition: .3s all ease; transition: .3s all ease; }

.project .project-hover .project-hover-inner, .project .project-hover .post-hover-inner, .project .post-hover .project-hover-inner, .project .post-hover .post-hover-inner, .post .project-hover .project-hover-inner, .post .project-hover .post-hover-inner, .post .post-hover .project-hover-inner, .post .post-hover .post-hover-inner { position: absolute; z-index: 99; left: 50%; top: 50%; visibility: hidden; opacity: 0; -webkit-transition: .3s all ease; -o-transition: .3s all ease; transition: .3s all ease; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); transition: .3s all ease; text-align: center; }

.project .project-hover .project-hover-inner h2, .project .project-hover .post-hover-inner h2, .project .post-hover .project-hover-inner h2, .project .post-hover .post-hover-inner h2, .post .project-hover .project-hover-inner h2, .post .project-hover .post-hover-inner h2, .post .post-hover .project-hover-inner h2, .post .post-hover .post-hover-inner h2 { color: #000; font-size: 27px; line-height: 1.2; -webkit-transition: .3s all ease; -o-transition: .3s all ease; transition: .3s all ease; opacity: 0;  visibility: hidden; position: relative; bottom: -30px;  letter-spacing: .07em;}

.project .project-hover .project-hover-inner span, .project .project-hover .post-hover-inner span, .project .post-hover .project-hover-inner span, .project .post-hover .post-hover-inner span, .post .project-hover .project-hover-inner span, .post .project-hover .post-hover-inner span, .post .post-hover .project-hover-inner span, .post .post-hover .post-hover-inner span { color: rgba(0, 0, 0, 0.8); opacity: 0; visibility: hidden; position: relative; bottom: -30px; -webkit-transition: .5s all ease; -o-transition: .5s all ease; transition: .5s all ease; font-size: 13px; text-transform: uppercase; letter-spacing: .2em; }

.project:hover .project-hover, .project:hover .post-hover, .project:focus .project-hover, .project:focus .post-hover, .post:hover .project-hover, .post:hover .post-hover, .post:focus .project-hover, .post:focus .post-hover { visibility: visible; opacity: 1; }

.project:hover .project-hover .project-hover-inner, .project:hover .project-hover .post-hover-inner, .project:hover .post-hover .project-hover-inner, .project:hover .post-hover .post-hover-inner, .project:focus .project-hover .project-hover-inner, .project:focus .project-hover .post-hover-inner, .project:focus .post-hover .project-hover-inner, .project:focus .post-hover .post-hover-inner, .post:hover .project-hover .project-hover-inner, .post:hover .project-hover .post-hover-inner, .post:hover .post-hover .project-hover-inner, .post:hover .post-hover .post-hover-inner, .post:focus .project-hover .project-hover-inner, .post:focus .project-hover .post-hover-inner, .post:focus .post-hover .project-hover-inner, .post:focus .post-hover .post-hover-inner { visibility: visible; opacity: 1; -webkit-animation-delay: 10s; animation-delay: 10s; }

.project:hover .project-hover .project-hover-inner h2, .project:hover .project-hover .post-hover-inner h2, .project:hover .post-hover .project-hover-inner h2, .project:hover .post-hover .post-hover-inner h2, .project:focus .project-hover .project-hover-inner h2, .project:focus .project-hover .post-hover-inner h2, .project:focus .post-hover .project-hover-inner h2, .project:focus .post-hover .post-hover-inner h2, .post:hover .project-hover .project-hover-inner h2, .post:hover .project-hover .post-hover-inner h2, .post:hover .post-hover .project-hover-inner h2, .post:hover .post-hover .post-hover-inner h2, .post:focus .project-hover .project-hover-inner h2, .post:focus .project-hover .post-hover-inner h2, .post:focus .post-hover .project-hover-inner h2, .post:focus .post-hover .post-hover-inner h2 { opacity: 1; visibility: visible; bottom: 0px; }

.project:hover .project-hover .project-hover-inner span, .project:hover .project-hover .post-hover-inner span, .project:hover .post-hover .project-hover-inner span, .project:hover .post-hover .post-hover-inner span, .project:focus .project-hover .project-hover-inner span, .project:focus .project-hover .post-hover-inner span, .project:focus .post-hover .project-hover-inner span, .project:focus .post-hover .post-hover-inner span, .post:hover .project-hover .project-hover-inner span, .post:hover .project-hover .post-hover-inner span, .post:hover .post-hover .project-hover-inner span, .post:hover .post-hover .post-hover-inner span, .post:focus .project-hover .project-hover-inner span, .post:focus .project-hover .post-hover-inner span, .post:focus .post-hover .project-hover-inner span, .post:focus .post-hover .post-hover-inner span { bottom: 0; visibility: visible; opacity: 1; }

.prev-next {
    position: relative;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: .1em;

    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    text-decoration: none;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.prev-next .a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

.prev-next a:hover {
    background-color: white;
    text-decoration: underline;
    color: black;


}

.previous {
    background-color: white;
    color: #515151;
    position: absolute;
    left: 0px;
    
}

.next {
    background-color: white;
    color: #515151;
    position: absolute;
    right: 0px;
}

.templateux-footer { padding: 4em 0;
		     border-top: 1px color: #000;
		     opacity: 0.4;
		     font-size: 13px;  
		   }

.templateux-footer .container-fluid { max-width: 100%; }

.templateux-footer small { font-size: 16px; }

.templateux-footer p:last-child { margin-bottom: 0; }

.btn:hover, .btn:focus, .btn:active { outline: none; -webkit-box-shadow: none !important; box-shadow: none !important; }

.go-down { position: relative; width: 40px; height: 40px; display: block; margin-left: -15px; position: absolute; margin-top: 70px; }

.go-down:before { width: 2px; height: 40px; right: 27px; content: ""; display: block; position: absolute; background: #000; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); pointer-events: none; top: 0; -webkit-transition: .3s all ease; -o-transition: .3s all ease; transition: .3s all ease; }

.go-down:after { content: ""; position: absolute; left: 50%; bottom: -12px; border: solid transparent; content: " "; height: 0; width: 0; margin-left: -1px; position: absolute; border-top-color: #000; border-width: 7px; margin-left: -7px; }

.go-down:hover { height: 70px; }

.go-down:hover:before { height: 70px; }

.templateux-media h3 { font-size: 18px; color: #000; }

.templateux-media .icon span { font-size: 40px; color: #ccc; }

.owl-carousel .owl-dots { position: relative; text-align: center; width: 100%; }

.owl-carousel .owl-dots .owl-dot { width: 20px; height: 20px; position: relative; line-height: 0; }

.owl-carousel .owl-dots .owl-dot:active, .owl-carousel .owl-dots .owl-dot:focus { outline: none; }

.owl-carousel .owl-dots .owl-dot span { border: 2px solid #dfdfdf; background: none; -webkit-transition: .3s all ease; -o-transition: .3s all ease; transition: .3s all ease; position: absolute; width: 10px; height: 10px; border-radius: 50%; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

.owl-carousel .owl-dots .owl-dot.active span { border: 2px solid #000; background: #000; }

.owl-carousel.dots-overlap .owl-dots { bottom: 50px; position: absolute; z-index: 9; }

.owl-carousel.dots-overlap .owl-dots .owl-dot span { border: 2px solid #000; background: none; -webkit-transition: .3s all ease; -o-transition: .3s all ease; transition: .3s all ease; position: absolute; width: 10px; height: 10px; border-radius: 50%; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

.owl-carousel.dots-overlap .owl-dots .owl-dot.active span { border: 2px solid #000; background: #000; }

.work-detail { margin-bottom: 50px; }

.work-detail .caption { display: block; text-transform: uppercase; font-size: 15px; color: #000; }

.work-detail strong { font-weight: normal; color: #000; }

.custom-pagination { width: 100%; text-align: center; display: inline-block; }

.custom-pagination li { display: inline-block; }

.custom-pagination .prev a, .custom-pagination .next a { font-size: 20px !important; line-height: 38px !important; }

.custom-pagination li a, .custom-pagination .prev a, .custom-pagination .next a { width: 40px; height: 40px; line-height: 40px; padding: 0; margin: 0; border-radius: 50% !important; font-size: 16px; }

.custom-pagination li.active a, .custom-pagination .prev.active a, .custom-pagination .next.active a { display: block; width: 40px; height: 40px; line-height: 40px; padding: 0; margin: 0; border-radius: 50% !important; font-size: 16px; background: #000; color: #000; }

.custom-pagination li.active a:hover, .custom-pagination li.active a:focus, .custom-pagination .prev.active a:hover, .custom-pagination .prev.active a:focus, .custom-pagination .next.active a:hover, .custom-pagination .next.active a:focus { color: #000; }

.custom-pagination .prev { float: left; }

.custom-pagination .next { float: right; }






.carousel {
    width: 100%;
    height: 70%;
}



.coolstuff::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
.coolstuff::-webkit-scrollbar-track {
    background: #fbfbfb;
}
.coolstuff::-webkit-scrollbar-thumb {
    background: #ddd;
    visibility:visible;
}
.coolstuff:hover::-webkit-scrollbar-thumb {
    visibility:visible;
}

.coolstuff {
    overflow: auto;
    scroll-behavior: smooth;
    overflow-x: auto;
    width: 100%;
}


.coolstuff__inner {
    transition: 450ms transform;
    font-size: 0;
    white-space: nowrap;
    margin: 40px 0;
    padding-bottom: 10px;
}

.tile {
    position: relative;
    display: inline-block;
    width: 250px;
    height: 140.625px;
    margin-right: 10px;
    cursor: pointer;
    transition: 450ms all;
    transform-origin: center left;
}

.tile a {
    text-decoration: none;
    color: #fff;
    

}

.tile a:hover {
    text-decoration: underline;
    color: #fff;
    

}

.tile__img {
    width: 250px;
    height: 140.625px;
    object-fit: cover;
}

.tile__details {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    font-size: 13px;
    opacity: 0.2;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%,
				rgba(0,0,0, 0.5) 100%);
    transition: 450ms opacity;
}



.tile:hover .tile__details {
    opacity: 1;
}

.tile__title, .tile__title h5 {
    text-align: center;
    color: #fff;
    font-size: 13px;
    text-transform: capitalize;
    margin-top: 30px;
    letter-spacing: 0.05em;
    line-height: 1.3;
}


.tile span {
    font-size: 10px;
    text-transform: uppercase;

}





.coolstuff__inner:hover {
    transform: translate3d(-62.5px, 0, 0);
}

.coolstuff__inner:hover .tile {
    opacity: 0.3;
}

.coolstuff__inner:hover .tile:hover {
    transform: scale(1.5);
    opacity: 1;
}

.tile:hover ~ .tile {
    transform: translate3d(125px, 0, 0);
}



}
div.middle{
  top:0;
  right:0;
  bottom:0;
  left:0;
  position:absolute;
  margin:auto;
  height:120px;
  width:100%;
  text-align:center;
}
.text-type-animation{
  text-transform:uppercase;
  font-size:60px;
  
}
.txt-rotate{
  color:grey;
}

#more {display: none;
       text-transform: none;
       font-size: 20px; }


button {
  background-color: white;
  border: none;
  color: black;
  padding: 0px 0px;
  text-align: left;
  text-decoration: underline;
  display: inline-block;
  font-size: 21px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}


.button:hover {
  background-color: grey;
  color: white;
}


